.center-element {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.position-button {
  display: block;
  margin: auto;
}

.jumbotron {
  background: linear-gradient(80deg, #f0f8ff, rgb(255, 255, 255));
}

.row {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.badge-size {
  width: 50%;
}

.info-text {
  font-size: 22px;
}

.info-bg-left {
  background: linear-gradient(
    80deg,
    rgb(240, 248, 255) 50%,
    rgb(255, 255, 255) 50%
  );
}

.info-bg-right {
  background: linear-gradient(
    80deg,
    rgb(255, 255, 255) 50%,
    rgb(240, 248, 255) 50%
  );
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
}
.reg {
  font-size: 5rem;
  border: 1px solid #000;
  text-align: center;
  background-color: #f6e40c;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.price {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  margin: 2rem;
  color: white;
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}
